[Paths]
monitor_dir = /tmp
dest_base_dir = /opt/stor0
dest_subdir_name = SavedCachedFiles

[Settings]
file_extensions = .c,.cpp,.css,.html,.img,.iso,.java,.js,.py,.qcow2,.raw,.sh,.vdi,.vmdk
check_interval_minutes = 2
stable_threshold_minutes = 1

[Presets]
categories_file = file_type_presets.conf

